@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ReservationSystem.Domain.ViewModels.LoginUserViewModel

@{
    ViewData["Title"] = "ورود";
}

<div class="col-lg-6 col-md-12 mt-3 mx-auto">
    <div class="card">
        <div class="card-body">
            <form method="post" asp-action="Login" asp-controller="Account">
                <h4 class="text-center">
                    <span>ورود</span>
                    <i class="fa fa-sign-in"></i>
                </h4>
                <hr />

                <div class="mb-3 direction-rtl">
                    <label asp-for="UserName" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="UserName">
                    <span class="error-style" asp-validation-for="UserName"></span>
                </div>

                <div class="mb-3 direction-rtl">
                    <label asp-for="Password" class="form-label"></label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span class="error-style" asp-validation-for="Password"></span>
                </div>

                <button type="submit" class="btn btn-success w-100">ورود</button>
            </form>
        </div>
    </div>
</div>